
@{
    ViewBag.Title = "Index";
}

<h2>Veterinaria - Sitio de Administracion</h2>
<div>
    <img src="~/Imagenes/portada.jpg" alt="Veterinaria - Sitio de Administracion" style="width: 100%; max-width: 600px;" />
</div>

